* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.txt-primary {
    color: #E55473;
}

.decoration {

    margin-top: 150px;
}

.decoration-about {
    background: rgba(167, 33, 98, 0.15);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1922px;
    height: 600px;
    margin: 0 auto;
}

.decoration-title {
    text-align: center;
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 800;
}

.decoration-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 30px;
}

.decoration-info {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.decoration-place {
    padding-top: 20px;
    padding-bottom: 10px;
}

.decoration-info img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

.outlets {

    margin-top: 150px;
}

.outlets-about {
    background: rgba(71, 125, 17, 0.15);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1922px;
    height: 650px;
    margin: 0 auto;
}

.outlets-title {
    text-align: center;
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 800;
}

.outlets-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 30px;
}

.outlets-info {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.outlets-place {
    padding-top: 20px;
    padding-bottom: 10px;
}

.outlets-info img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
}
.outlets-map{
    padding-bottom: 16px;
    padding-top: 8px;
}

/* form */

.containers {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2C3E50;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    padding-right: 30px;
    color:white;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-container {
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
.auth-button{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 43px;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}